# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# ARC runtime database
.arc/

# Environments & IDE
.env
venv/
env/
.idea/
.vscode/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/